trigger:
#- master
#- build-automation
- disabled

pool:
  vmImage: 'ubuntu-latest'

variables:
  imageName: 'discord-bot-dotnet'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: 'CoderDojo Container Registry'

    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageName)
        containerRegistry: 'CoderDojo Container Registry'
        tags: |
          latest

    - task: AzureCLI@2
      displayName: Azure CLI
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
      env:
        ACR_SECRET: $(ACR_SECRET)
        DISCORD_TOKEN: $(DISCORD_TOKEN)
        IMGUR_SECRET: $(IMGUR_SECRET)
        AI_INSTRUMENTATION_KEY: $(AI_INSTRUMENTATION_KEY)
        JAWG_APIKEY: $(JAWG_APIKEY)
        MAPBOX_APIKEY: $(MAPBOX_APIKEY)
        STORAGE_KEY: $(STORAGE_KEY)
        COSMOSDB_KEY: $(COSMOSDB_KEY)
      inputs:
        azureSubscription: 'CoderDojo Containers'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az provider register --namespace 'Microsoft.ContainerInstance'
          az container create --resource-group Containers --name $(imageName) --image coderdojo.azurecr.io/$(imageName):latest \
            --dns-name-label $(imageName) --registry-login-server coderdojo.azurecr.io --registry-username $ACR_USER --registry-password $ACR_SECRET \
            --azure-file-volume-account-name coderdojodiscord --azure-file-volume-account-key $STORAGE_KEY \
            --azure-file-volume-share-name bot-data --azure-file-volume-mount-path /mnt/data/ \
            --secure-environment-variables \
                    Discord__Token=$DISCORD_TOKEN \
                    Imgur__Client_ID=$IMGUR_CLIENT_ID \
                    Imgur__Client_Secret=$IMGUR_SECRET \
                    ApplicationInsights__InstrumentationKey=$AI_INSTRUMENTATION_KEY \
                    MapServices__Jawg__ApiKey=$JAWG_APIKEY  \
                    MapServices__MapBox__ApiKey=$MAPBOX_APIKEY  \
                    Database__Endpoint=$COSMOSDB_ENDPOINT  \
                    Database__Key=$COSMOSDB_KEY  \ 
                    Database__Name=$COSMOSDB_NAME 
          az container restart  --resource-group Containers --name $(imageName)
          